{% extends 'base.html' %}

{% block content %}
<style>
    
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text{
    color: white;
  }
    .card{
    box-shadow: 0 16px 48px #E3E7EB;
}
</style>
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>Invoice Details</h1>
        <h3>{% block title %} {{ invoice.customer }} {% endblock title %}</h3>
        <h3 class=" text-muted">{{ invoice.shipping_address }}</h3>
        
        <h3 class=" text-muted">{% for product in invoice.products.all%} {{ product.name }} {% endfor %}</h3>

        <h3 class="card-text ">{{ customer.name }}</h3>
        
        </div>
        </div>
        </div>
        
</div>

        
        {% endblock content %}